<div class="app-shell">
  <aside class="app-sidebar">
    <div class="brand">
      <span>Persian Customers</span>
      <small>داشبورد مدیریت مشتری</small>
    </div>
    <nav class="sidebar-nav">
      <a routerLink="/login" routerLinkActive="active">ورود</a>
      <a routerLink="/admin/register" routerLinkActive="active">افزودن کاربر</a>
      <a routerLink="/clients" routerLinkActive="active">مشتری‌ها</a>
    </nav>
  </aside>

  <main class="app-content">
    <router-outlet></router-outlet>
  </main>
</div>
